#header {
  padding: 170px 0 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-color: #f4f4f5;
}

#header .header_iphone {
  position: absolute;
  bottom: -310px;
  left: 50%;
  margin-left: -185px;
}

#header .video-btn {
  margin-top: 48px;
}

#header .video-btn i {
  margin-right: 15px;
}

#header:after {
  content: '';
  display: block;
  width: 60%;
  height: 140%;
  position: absolute;
  background: #212c5f;
  top: -120px;
  right: -220px;
  z-index: 3;
  transform: rotate(13deg);
}

#header:before {
  content: '';
  display: block;
  width: 60%;
  height: 140%;
  position: absolute;
  background: #c82343;
  top: -120px;
  right: -210px;
  z-index: 2;
  transform: rotate(18deg);
}

.howItWorks {
  background: #f4f4f5;
  padding: 90px 0 50px;
}


.coinsRealTime {
  background: #222d5e;
  padding: 100px 0 50px;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    background: #c82343;
    top: -76px;
    transform: rotate(-2deg);
    left: -30px;
  }
  
  .bg-header {
    opacity: .1;
  }
  
  .list-coins {
    position: relative;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .bottom {
    position: relative;
    z-index: 5;
    .p {
      color: #fff;
      font-size: 16px;
      margin: 0;
      a {
        color: #7caced;
        text-decoration: underline;
      }
    }
  }

  .defaultTitle {
    position: relative;
    z-index: 5;
    .h2 {
      color: #fff;
      line-height: 50px
    }
    .p {
      color: #fff;
      margin: 0;
    }
    .h4 {
      color: #fff;

    }
  }
}