.wpp {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 35px;
  margin: 0 0 0 20px;
}

.phones {
  display: flex;
  align-items: flex-end;

  .h4 {
    margin: 0;
  }
  .p {
    line-height: 20px;
  }
}